<section class="hero has-text-centered " id="home">
    <div class="hero-body">
      <div class="container">
        <h2 align="centered" class="title"> Abstract </h2>
        <p style = "text-align:justify ; text-justify:inter-word">
            Recent advancements have shown the potential of leveraging both point clouds and images to localize anomalies.
            Nevertheless, their applicability in industrial manufacturing is often constrained by significant drawbacks, such as the use of memory banks, which leads to a substantial increase in terms of memory footprint and inference times.
            We propose a novel light and fast framework that learns to map features from one modality to the other on nominal samples and detect anomalies by pinpointing inconsistencies between observed and mapped features. 
            Extensive experiments show that our approach achieves state-of-the-art detection and segmentation performance in both the standard and few-shot settings on the MVTec 3D-AD dataset while achieving faster inference and occupying less memory than previous multimodal AD methods. 
            Furthermore, we propose a layer pruning technique to improve memory and time efficiency with a marginal sacrifice in performance.
        </p>
    </div>
</div>
</section>